:root {
  --red: #e50914;
  --black: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 2%;
  padding-right: 2%;
}

body {
  background: var(--black);
}

header .container {
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

header .container .logo {
  width: 140px;
  cursor: pointer;
}

header .container nav a {
  color: #aaa;
  text-decoration: none;
  margin-right: 10px;
}

header .container nav a:last-child {
  margin-right: 0;
}

header .container nav a:hover {
  color: #fff; 
}

/* ---------------------------- */

main .principal-movie {
  min-height: 400px;
  background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)), url('https://www.themoviedb.org/t/p/original/ngoiHQul4QetfA62SdmZZOdDFAP.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

main .container {
  color: white;
  flex-direction: column;
  max-width: 1440px;

}

main .movie-title {
  font-size: 42px;
  width: 60%;
}

main .description {
  font-size: 15px;
  margin: 10px 0 25px;
  width: 60%;
}

main .buttons button {
  background-color: rgba(0, 0, 0, .5);
  border: 1px solid #fff;
  cursor: pointer;
  color: #fff;
  padding: 15px 20px;
  margin-right: 15px;
  font-weight: 500;
  transition: .2s;
}

main .buttons button:hover {
  background-color: #fff;
  color: #000;
}

/* ------------------------- */

.carousel-films .container {
  padding: 0;
  padding-top: 10px;
}

.img-box {
  height: 100%;
  width: 100%;
  display: block;
}